<section>
  <div id="titles">
    <ul>
      <li ng-repeat="item in main.posts"><a href="" ui-sref="main.post({ postId: item.id })">{{item.postTitle}}</a></li>
    </ul>
  </div>
  <div id="flix">
    <div ui-view></div>
    <div id="add-review">
      <h2 class="review"></h2>
      <form ng-submit="main.PostsFactory.addPost()" role="form">
        <input ng-model="main.PostsFactory.postTitle" type="text" placeholder="Enter the title for the review here" required>
        <input ng-model="main.PostsFactory.postText" type="text" required>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
