@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "refills/refills";

body {
  -webkit-font-smoothing: antialiased;
}

section {
  @include outer-container;

  div#titles {
    @include span-columns(4);
  }

  div#posts {
    @include span-columns(8);
  }
}

section#welcome {
  margin-top: 10%;
  text-align: center;
}

h1#header {
  padding-top: .3em;
  margin-bottom : .2em;
  font-size: 2.2em;
}

h3#header {
  color: $medium-gray;
  font-size: 1.2em;
}

hr {
  border-top: 1px solid #8c8b8b;
  opacity: .8;
  margin-top: 12px;
}

// div#welcome {
//   position: relative;
//   top: 30%;
//   left: 37%;
// }

h1#welcome {
  font-size: 3em;
  margin-bottom: 0.2em;
}
